<div class="center jumbotron">
<h1>Welcome to Members Only</h1>
<h2>
  The App where you can post anonomously!
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>